body{
    font-family:raleway-regular,sans-serif;
    height:100%;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.header{
    background-image: url(./Images/banner3.jpg);
    background-repeat: no-repeat;
    background-color: #000000be;
    background-blend-mode: darken;
}
.topbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation{
    padding:0vh 15vh;
    display:flex;
    gap:8vh;
}
.leftside{
    display: flex;
}
.leftside p{
    color:#fff;
    font-size: 35px;
    font-weight: bold;
}
.nav{
    display: flex;
    align-items: center;
    gap:3vh;
}
.nav a{
    text-decoration: none;
    color:#fff;
    font-size:18px;
}
.navi{
    display: flex;
   align-items: center;
   gap: 6vh;
   padding:0vh 15vh;
}
.navi i{
    transform: scale(1.5);
}
#threeliine{
    display: none;
}
.navi button{
    width:25vh;
    height:8vh;
    border-radius: 5px;
    color:#ff6600;
    font-size:20px;
}

.content{
 display: flex;
 flex-direction: column;
 padding:15vh 15vh;
}
#contentindustrial p{
    color:white;
    font-size: 15px;
    margin:0px;
    padding: 20px 0px;
}
#contentindustrial h1{
    color: #fff;
    margin:0px;
    font-size: 55px;
}
.icon{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:8vh 0vh;
}
.icon01{
    display:flex;
    align-items: center;
    gap:4vh;
}
.icon01 i{
    font-size: 25px;
    background-color: #fff;
    border-radius: 50px;
    padding:10px;
}
.icon01 p{
    color:white;
    margin: 0px;
}
.icon01 h1{
    color:#fff;
    margin: 0px;
}
.gridcontainer{
    display:grid;
    grid-template-columns: 1fr 1fr ;   
    padding:10vh 15vh;
    align-items: center;
}
.subitems h6{
    font-size: 15px;
    font-weight: bold;
    color: #ff6600;
    margin: 0px;
}
.subitems p{
    font-size: 35px;
    line-height:50px;
    font-weight: bold;
    margin: 0px;
}
.subitems1{
    font-size: 18px;
    line-height:35px;
    color: rgb(81, 93, 92);
    font-style: url(./font/Raleway/static/Raleway-Light.ttf);
}
.setimages{
    border: none;
    display: flex;
    flex-direction: row;
    padding: 0vh 15vh;
}
.img1{
    overflow: hidden;
    position: relative;
    display: inline-block;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5); 
}
.img1 img{
    display: block;
    width: 100%;
    height: auto;
    mix-blend-mode: darken;
}
.img1 img:hover{
    transform: scale(1.2);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.text{
    position: absolute;
    top: 30%; 
    left: 5.5%; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: left;
    line-height: 2;
  }
.text-contain{
    font-size: 15px;
}
.subtext{
    font-size: 25px;
    font-weight: bold;
}
.innercontain{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 3em;
    padding: 15vh 15vh;
}
.imageset{
    overflow: hidden;
    border-radius:5px;
    height:60vh;
    width:85vh;
}
.imageset img{
    height: 60vh;
    width: 85vh;
    border-radius:5px;
}
.imageset img:hover{
    transform: scale(1.2);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.rightcontain h5{
    color: #ff6600;
    margin: 0px;
    font-size:18px ;
}
.Clever{
    font-size: 40px;
    font-weight: bold;
}
.libero{
    color: grey;
    line-height: 2;
    margin: 0px;
    font-size: 22px;
}
.table{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 3em;
    color: rgb(81, 93, 92);
    padding:5vh 0vh;
}
.button1 button{
    margin-top: 15px;
    font-size: 18px;
    padding:15px 20px;
    border: none;
    background: #ff6600;
    color:  white;
    border-radius: 5px;
}
.serbtn:hover{
    background:#9b4710;
    transition: 2s ease;
}
.background{
    background-image: url(./Images/banner5.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    background-color: #0000009d;
    background-blend-mode: overlay;
 }
.say{
    display:grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding:0vh 15vh;

}
.leftcontain{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:10vh 10vh;
}
.leftcontain h5{
    color: #ff6600;
    margin: 15px 0px;
    font-size: 20px;
}
.leftcontain h1{
    color:white;
    margin: 15px 0px;
    font-size: px;
}
.world{
    margin:6vh 0vh;
}
.button2 {
    display: flex;
    justify-content: center;
    font-size: 18px;
    width:150px;
    height: 50px;
    border: none;
    background: white;
    color:#ff6600;
    border-radius: 5px;
    align-items: center;
}
.button2 button:hover{
    background: #ff6600;
    color: #fff;
    transition: 1s ease;
}
.rightcontain1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightcontain1 i{
    transform: scale(2.3);
    color: white;
    padding:19px ;
}
.d1{
    color:#fff;
    font-size: 15px;
}
.num{
    color:#ff6600;
    font-weight: bold;
    font-size: 35px;
    margin:0px;
}
.d1 {
    font-size: 18px;
}
.gridquestion{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 3em;
    margin: 15vh 15vh;
}
.gridimage{
    overflow: hidden;
    border-radius:5px;
    height:85vh;
    width:85vh;
}
.gridimage img{
    height: 85vh;
    width: 85vh;
    border-radius:5px;
}
.gridimage img:hover{
    transform: scale(1.2);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.ask{
    color:#ff6600;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}
.subitems {
    color: rgb(56, 53, 53);
    font-size: 40px;
    margin: 10px 0px;
    font-weight: bold;
}
.questionmark{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
.series{
    display: flex;
    padding-top: 15px;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
}
.series p{
    font-size: 20px;
}
.series i{
    font-size: 15px;
    border-radius:25px ;
    padding:5px;
    border:solid black 2px;
}
.series:hover{
    color: #ff6600;
}
.series i:hover{
    color: #ff6600;
    border:solid #ff6600 2px;

}
#slide6{

}
#small{
    font-size: 15px;
    color:#ff6600;
    text-align: center;
    padding:2vh 0vh;
}
#large{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: rgb(62, 60, 60);
}
.imagealign{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em ;
    padding: 5vh 15vh;
}
.photo1 img{
    height: auto;
    border-radius: 5px;
    background-color: #000000be;
}
.imagealign{
    overflow: hidden;
}
.flex{
    display: flex;
}
.date{
    color:grey;
    overflow: hidden;
}
.datetext{
    text-align: center;
    color: #ff6600;
    cursor: pointer;
}
.photo img{
    width:100%;
    height:auto;
    border-radius: 5px;
    filter: brightness(50%);
}
.photo img:hover{
    transform: scale(1.2);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.photos{
    overflow: hidden;
    border-radius: 5px;
}
.photo a{
    color:black;
    font-weight: normal;
    line-height: 150%;
    text-decoration: none;
}
.button3{
    display:flex;
    justify-content: center;
}
.button3 button{
    display:flex;
    margin-top: 50px;
    padding:15px 20px;
    font-size: 18px;
    border: none;
    background: #ff6600;
    color:  white;
    border-radius: 5px;
    
}
.serbtn2:hover{
    background:#9b4710;
    transition: 2s ease;
}
#slide7{
    text-align: center;
    padding:15vh 45vh;
}
.Testimonials{
    font-size: 15px;
    font-weight: bold;
    color: #ff6600;
}
.Client{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}
.quote{
    padding:15px;
}
.quote i{
    transform: scale(3);
}
.lorem{
    line-height: 2;
    font-size: 20px;
    color:grey;
    font-weight: bold;
    text-align: center;
}
.john{
    display:flex;
    justify-content: center;
    align-items: center;
}
.team{
    padding:10px 15px;
}
.team img{
    background: #ff6600;
    border-radius: 50px;
    width:75px;
    height:75px;
}
.Wilson{
    padding:30px 0px;
}
.Wilson p{
    font-size: 14px;
    font-weight: bold;
}
.Wilson h5{
    color: grey;
    font-weight: lighter;
}
.b{
    padding:20px ;
}
.b button {
    border:none;
    padding:10px;
    transform: scale(1.5);
}
.b button:hover{
    color:#ff6600;
    transition: .3s ease;
}
#slide8{
    padding:15vh 15vh;
    display:flex;
    justify-content: space-between;
}
.Join{
    display: flex;
    flex-direction: column;
}
.Join h5{
    font-size:20px;
    color:#ff6600;
    margin: 0px;
}
.Join p{
    font-size: 30px;
    font-weight: bold;
    margin: 2vh 0vh;
}
.Join h3{
    font-size: 20px;
    color: grey;
    font-weight: lighter;
    margin: 0px;
}
.entermail{
    display:flex;
   gap:4vh;
}
.email{
    padding:2vh 10vh ;
    border:solid;
    border-color: grey;
    border-width: 0.5px;
    display: flex;
    align-content: flex-start;
    border-radius: 4px;
    font-size:18px;
}
.subscribe button{
    background: #ff6600;
    padding:15px 75px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.subscribe button:hover{
    background: #80441b;
    padding:15px 75px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: .2s ease-in-out;
}
#slide9{
    padding:15vh 15vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em 3em;
}
.us p{
    color: grey;
    font-weight: lighter;
    line-height: 1.5;
}
.button4{
    padding:10vh 0vh;
}
.button4 button{
    padding:10px 20px;
    font-size: 18px;
    border: none;
    background: #ff6600;
    color:  white;
    border-radius: 5px;
}
.button4 button:hover{
    padding:10px 20px;
    font-size: 18px;
    border: none;
    background: #5e2e0e;
    color:  white;
    border-radius: 5px;
    transition: .2s ease-in;
}
.quick {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.quick a{
    text-decoration: none;
}
.learn{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.learn a{
    font-weight: lighter;
    color:grey;
    padding:8px 0px;
}
.end{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em 1em;
}
.social{
    display:flex;
    flex-direction: column;
    padding:15px 0px;
    gap:15px;
}
.social img{
    width: 100%;
    height: 100%;
    border-radius:5px;
}
.socialmedia{
    display:flex;
    gap:25px;
    padding:10px 0px;
}
.socialmedia i{
    transform: scale(1.3);
    padding:5px;
    color: #ff6600;
}
.socialmedia i:hover{
    transform: scale(1.3);
    padding:5px;
    background-color: #ff6600;
    color:#fff;
    border-radius: 5px;
    transition: .2s ease;
}

@media(max-width:1024px){
    .navi button{
        display:none;
    }
    .gridcontainer{
        padding:5vh 10vh;
    }
    .text{
        font-size: 15px; 
        text-align: left;
      }
      .setimages{
        padding:5vh 10vh;
      }
      .subtext{
        font-size: 20px;
      }
      .innercontain{
        padding: 15vh 10vh;
    }
    .Clever{
        font-size: 25px;
        margin: 10px 0px;
    }
    .rightcontain h5{
        font-size:15px ;
    }
    .button1 button{
        font-size: 15px;
        padding:5px 20px;
    }
    .leftcontain{
        padding:10vh 0vh;
    }
    .button4{
        padding:5vh 0vh;
    }
    .subitems{
        font-size:23px;
        margin:2vh 0vh;
    }
}

@media (max-width:768px){
    .header{
        background-size: cover;
        background-position:center ;
    }
    .icon{
       display: grid;
       grid-template-columns: 0.5fr 0.5fr 0.5fr;
       grid-gap:0.5em 0.5em;
    }
    .icon01{
        display:flex;
        gap:1px;
        align-items: center;
    }
    .icon01 i{
        font-size: 20px;
        background-color: #fff;
        border-radius: 50px;
    }
    .icon01 p{
        color:white;
        font-size: 12px; 
    }
    .icon01 h1{
        color:#fff;
        font-size: 22px;
    }
    .nav{
        display: none;
    }
    #search{
        display: none;
    }
    #threeliine{
        display: block;
        background-color: #ff6600;
        padding:5px;
        border-radius: 5px;
        font-size:15px;
    }
    .topbar{
        align-items: center;
    }
    .gridcontainer{
        display: flex;
        flex-direction: column;
    }
    .subitems{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subitems p{
        text-align: center;
    }
    .subitems1 {
        text-align: center;
    }
    .setimages{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1.2em 2em;
    }
    .img1{
        border-radius: 5px;
    }
    .innercontain{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .rightcontain{
        padding:10vh 0vh;
    }
    .Clever{
        font-size:35px;
    }
    .libero{
        font-size:18px;
    }
    .table{
        padding:10vh 0vh;
    }
    .button1 button{
        padding:3vh 8vh
    }
    .say{
        display:flex;
        flex-direction: column;
    }
    .leftcontain h5{
        margin: 0px;
    }
    .leftcontain h1{
        margin: 0px;
    }
    .rightcontain1 {
        justify-content: space-between;
    }
    .gridquestion{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding:0vh 10vh ;
    }
    .gridimage{
        padding:10vh;
    }
    .Frequently{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .imagealign{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1em 3em;
    }
    #slide7{
        padding:10vh 10vh;
    }
    #slide8{
        display: flex;
        flex-direction: column;
        gap:15vh;
    }
    #slide9{
        display:flex;
        flex-direction: column;
    }
}

@media (max-width:426px){
    .navigation{
        padding:0vh 5vh;
    }
    .leftside p{
        font-size: 27px;
    }
    .navi{
        padding:0vh 5vh;
    }
    .navi i{
        font-size:15px;
    }
    #threeliine{
        font-size:10px;
    }
    .content {
        display: flex;
        flex-direction: column;
        padding: 8vh 5vh;
    }
    #contentindustrial h1 {
        font-size: 25px;
    }
    .icon {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .icon01 {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .gridcontainer{
    padding: 8vh 5vh;
    }
    .subitems p {
        display: flex;
        font-size: 25px;
        line-height: 30px;
        font-weight: bold;
        text-align: justify;
    }
    .subitems1 {
        text-align: justify;
    }
    .setimages {
        display: flex;
        flex-direction: column;
        gap: 5vh;
        padding: 5vh 5vh;
    }
    .innercontain {
        padding: 5vh 5vh;
    }
    .Clever{
        font-size:25px;
        font-weight: bold;
    }
    .imageset{
        height: 45vh;
        width:63vh;
    }
    .imageset img {
        border-radius: 5px;
    }
    .rightcontain {
        padding: 5vh 0vh;
    }
    .table{
        display: flex;
        flex-direction: column;
        padding:5vh 0vh;
    }
    .say{
        padding:0vh 5vh
    }
    .gridquestion{
        padding: 5vh 5vh;
    }
    .gridimage{
        padding: 0vh;
        height: 45vh;
        width:63vh;
    }
    #slide6{
        padding: 5vh 5vh;

    }
    .imagealign{
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        gap:5vh;
    }
    #slide7{
        padding: 5vh 5vh;
    }
    .lorem{
        font-size:15px;
    }
    .b{
        display: none;
    }
    #slide8{
        padding: 5vh 5vh;
        gap:9vh;
    }
    .entermail{
        display:flex;
        flex-direction: column;
    }
    .subscribe button{
        width:59vh
    }
    #slide9{
        padding: 5vh 5vh;

}
}
